

/* --------------------------- *\
			GENERALES
\* --------------------------- */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	background-color: #0f0f0f;
}

h1, h2, h3 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

.container {
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
}

	.container-adorno {
		width: 1.25rem;
		height: 100%;
		background-color: #0074f7;
		position: absolute;
	}

	.container-titulo {
		position: relative;
	}
		
		.titulo-adorno {
			width: calc(1.25rem*2);
			height: calc(1.25rem*2);
			border-radius: 0 50% 50% 0;
			background-color: #0074f7;

			position: absolute;
			top: alc(1.25rem*1.5);
			left: calc(1.25rem/4);
		}
		
		.titulo-texto {
			margin: 0;
			margin-left: calc(1.25rem*3.5);
			padding: calc(1.25rem*3.5) 0;
			color: #0074f7;

			font-size: 1.3em;
			font-weight: bold;
			text-transform: uppercase;
		}
/* --------------------------- *\
			NAVBAR
\* --------------------------- */

.navbar {
	padding: 0 1.25rem;
	box-sizing: border-box;
	color: #ffffff;
	background-color: #1c2227;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

	font-size: 1.05em;
	letter-spacing: 0.05em;

	position: relative;
	z-index: 600;

	display: grid;
	grid-auto-flow: column;
	grid-gap: 2em;
}


	.navbar-menu {
		height: inherit;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

		.navbar-menu-link {
			padding: .5em;
			margin-right: 1em;
			color: #ffffff;
			text-decoration: none;
			transition: 150ms;
		}
		.navbar-menu-link:hover {
			transform: scale(.95);
		}
		.navbar-menu-link:last-of-type {
			margin: 0;
			margin-left: .5em;
			border-radius: calc(1.25rem/4);
			border: 1px solid #ffffff;
		}
