<!-- Seccion de Portada -->
<section class="hero container">
	<h1 class="hero-titulo">
		Hola! Soy <span>Guillermo Pintos</span><br>
		Desarrollador <span>Java</span> con<br>
		muy buen <span>trabajo en equipo</span>
	</h1>
	<figure class="hero-imagen-container">
		<div class="hero-border-imagen"></div>
		<img class="hero-imagen" src="assets/heroyo.jpg" alt="Imagen de Guillermo Pintos">
	</figure>
</section>

<!-- Seccion de Conocimientos -->
<section class="conocimientos container">
	<div class="container-adorno"></div>
	<div class="conocimientos-grilla">
		<div class="conocimientos-columna">
			<div class="conocimientos-elemento"><p>Java</p><p>Spring</p></div>
			<div class="conocimientos-elemento"><p>SpringBoot</p></div>
			<div class="conocimientos-elemento"><p>Sendgrid</p><p>Sql</p></div>
			<div class="conocimientos-elemento"><p>AWS S3</p></div>
			<div class="conocimientos-elemento"><p>JWT</p><p>Github</p></div>
			<div class="conocimientos-elemento"><p>Scrum</p></div>
		</div>
		<figure class="conocimientos-guillermo-container">
			<img class="conocimientos-guillermo" src="assets/yo.jpg" alt="Imagen de Guillermo">
		</figure>
		<div class="conocimientos-columna">
			<div class="conocimientos-elemento"><p>Docente</p><p>Enseñanza</p></div>
			<div class="conocimientos-elemento"><p>Trabajo en equipo</p></div>
			<div class="conocimientos-elemento"><p>Resolución de problemas</p><p>Autodidacta</p></div>
			<div class="conocimientos-elemento"><p>Empatía</p></div>
			<div class="conocimientos-elemento"><p>Proactivo</p><p>habilidades blandas</p></div>
			<div class="conocimientos-elemento"><p>Liderazgo</p></div>
		</div>
	</div>
</section>

<!-- Seccion de Portafolio -->
<section id="portafolio" class="portafolio container">
	<div class="container-adorno"></div>
	<div class="container-titulo">
		<div class="titulo-adorno"></div>
		<p class="titulo-texto">Portafolio</p>
	</div>
	<article class="portafolio-proyecto">
		<div class="proyecto-informacion">
			<h2 class="informacion-titulo">Github</h2>
			<p class="informacion-subtitulo">Proyectos importantes</p>
			<p class="informacion-fecha">Fecha: <span>01/04/2022</span></p>
			<p class="informacion-link">Puedes verlo en: <a href="https://github.com/guillermoPintos" target="_blank">https://github.com/guillermoPintos</a></p>
			<p class="informacion-descripcion">Proyectos realizados a los largo de cursadas en Egg Cooperation, Preaceleración y aceleración de Alkemy; Proyecto Nocountry </p>
		</div>
		<figure class="proyecto-imagen-container">
			<img class="proyecto-imagen" src="assets/githubj.jpg" alt="Imagen de Github">
		</figure>
	</article>

</section>

<!-- Seccion de Experiencias -->
<section id="experiencias" class="experiencias container">
	<div class="container-adorno"></div>
	<div class="container-titulo">
		<div class="titulo-adorno"></div>
		<p class="titulo-texto">Experiencia</p>
	</div>
	<div class="experiencias-galeria">
		<article class="galeria-experiencia">
			<figure class="experiencia-multimedia-container">
				<img class="experiencia-multimedia" src="assets/alkemy.png" alt="Imagen de Alkemy">
			</figure>
			<div class="experiencia-contenido">
				<h2 class="contenido-titulo">Septiembre Octubre 2022</h2>
				<p class="contenido-descripcion">Emulación realizada en Alkemy. La misma constaba de un proyecto java Back-end de una ONG</p>
				<a class="contenido-link" href="https://github.com/alkemyTech/OT297-server" target="_blank">Ver Proyecto</a>
				<a class="contenido-link" href="https://www.youtube.com/watch?v=v4EJPHSzjtY" target="_blank">Ver Presentación</a>
			</div>
		</article>

		<article class="galeria-experiencia">
			<figure class="experiencia-multimedia-container">
				<img class="experiencia-multimedia" src="assets/nocountry.png" alt="Diciembre 2022">
			</figure>
			<div class="experiencia-contenido">
				<h2 class="contenido-titulo">Wallet digital</h2>
				<p class="contenido-descripcion">Participe en el proyecto solo como back-end en java</p>
				<a class="contenido-link" href="https://github.com/guillermoPintos/c8-16-t-javareact" target="_blank">Ver Proyecto</a>
			</div>
		</article>

	</div>
</section>



<!-- Seccion de Contacto -->
<section id="contactos" class="contactos container">
	<div class="container-adorno"></div>
	<div class="contactos-grilla">
		<form class="contactos-formulario">
			<div class="container-titulo">
				<div class="titulo-adorno"></div>
				<p class="titulo-texto">¿Creamos algo juntos?</p>
			</div>
			<input class="formulario-input" type="text" placeholder="Dejame tu email">
			<button class="formulario-boton">Enviar</button>
		</form>
		<div class="contactos-redes">
			<a href="https://github.com/guillermoPintos" target="_blank"><i class="icono fab fa-github"></i></a>
			<a href="https://instagram.com/guillermo.a.pintos?utm_source=qr&igshid=OGIxMTE0OTdkZA==" target="_blank"><i class="icono fab fa-instagram"></i></a>
			<a href="https://www.linkedin.com/in/guillermo-pintos/" target="_blank"><i class="icono fab fa-linkedin"></i></a>
		</div>
	</div>
</section>