

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans' , sans-serif;
    margin: 0;
    padding: 0;

}
html{
    /* me permite deslizar cuando hago click en los links del menu */
    scroll-behavior: smooth;

}





@media screen and (max-width: 980px) {
  nav {
    display: none;
  }

  .nav-responsive {
    display: block;
  }

  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252A2E;
    width: 180px;

  }

  nav.responsive ul {
    display: block !important;
    margin: 0; /* Agregar margen para evitar el espacio en la parte superior */
    padding: 0; /* Agregar padding para que los elementos no estén pegados al borde */
  }

  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 20px; /* Añadir más espacio horizontal para hacer más fácil el clic en los enlaces */
    list-style: none; /* Agregar para quitar los marcadores de lista */
    margin: 0; /* Agregar margen para tener más espacio entre los elementos */
  }

  nav.responsive ul li:last-child {
    border-bottom: none; /* Quitar el borde inferior del último elemento */
  }
}


@media screen and (max-width:700px){
  .sobremi .fila{
      display: block;
  }
  .sobremi .fila .col{
      width: fit-content;
  }

  .skills .fila{
      display: block;
  }
  .skills .fila .col{
      width: 100%;
  }
  .skills .fila .col .barra-skill{
      width: 100%;
  }

  .formación .fila{
      display: block;
  }
  .formación .fila .col{
      width: 90%;
  }
  .formación .fila .derecha{
      margin-left: 20px;
  }

  .portfolio .galeria{
      display: block;
      width: 100%;
  }
  .portfolio .galeria .proyecto{
      max-width: 100%;
  }
  .portfolio .galeria .proyecto img{
      width: 100%;
  }
  .contacto .fila{
      display: block;
  }
  .contacto .fila .col{
      width: 100%;
  }
}
